# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
 - List popular languages for Data Science
 - List commonly used libraries for Data Science
 - List Data Science tools

Some of the popular languages that Data Scientists use are:
1. MySQL
2. Julia
3. R
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. Matplotlib

| Data Science Tools |
| ----- |
| Jupiter |
| RStudio |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python
- Addition: 7 + 2
- Subtraction: 10 - 3

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Nadine Cohen